---
const id = Astro.props.id satisfies string;
---

<span class="p-4 w-full font-[500] overflow-hidden text-ellipsis table-cell"
  >{id}</span
>
<div class="flex gap-1 p-4 justify-end">
  <button
    class={`p-2 rounded-lg bx bx-trash text-red-500 hover:bg-red-500/50 transition-all`}
    id={`delete-button-${id}`}
    title="Eliminar"></button>
</div>

<script define:vars={{ id }}>
  document.addEventListener("astro:page-load", () => {
    const deleteButton = document.querySelector("#delete-button-" + id);
    const deleteDocument = async (e) => {
      e.preventDefault();
      const result = window.confirm(
      "Esta a punto de eliminar el archivo, esta seguro de continuar?"
    );
    if (!result) {
      return;
    }
    const res = await fetch(`/api/texts/${id}`, {
      method: "DELETE",
    });
    if (res.ok) {
      window.location.reload();
    }
  };
  deleteButton.addEventListener("click", deleteDocument);
  });
</script>
