<div class="h-full w-full bg-slate-800/80 rounded-lg overflow-hidden ">
  <div class="h-full w-full pt-6 p-2 overflow-y-auto">
    <div id="editor"></div>
  </div>
</div>

<script>
  import { currentMindmap } from "../../stores/currentMindmap";
  import { basicSetup } from "codemirror";
  import { EditorView } from "@codemirror/view";

  document.addEventListener("astro:page-load", () => {
    const editorElement = document.getElementById("editor");
    if (!editorElement) return;

    let isUpdatingFromStore = false;

    const updateListener = EditorView.updateListener.of((update: any) => {
      if (update.docChanged && !isUpdatingFromStore) {
        const newContent = update.state.doc.toString();
        currentMindmap.set(newContent);
      }
    });

    const view = new EditorView({
      parent: editorElement,
      extensions: [basicSetup, updateListener],
    });
    const unsubscribe = currentMindmap.subscribe((content) => {
      const currentContent = view.state.doc.toString();
      if (content !== currentContent) {
        isUpdatingFromStore = true;

        view.dispatch({
          changes: {
            from: 0,
            to: currentContent.length,
            insert: content,
          },
        });
        isUpdatingFromStore = false;
      }
    });
    document.addEventListener(
      "astro:before-preparation",
      () => {
        unsubscribe();
        view.destroy();
      },
      { once: true }
    );
  });
</script>
