---
import { sc } from "@/shared/utils/sc";
import Layout from "@/layouts/Layout.astro";
import DashBoardLayout from "@/layouts/DashboardLayout.astro";
import DocumentIndex from "../components/DocumentIndex.astro";
import type {Text} from "@/modules/knowledge-base/text-extraction/@core-contracts/entities"
const documentsIndexes: Text[] = await fetch(
  new URL("/api/texts", Astro.url)
).then((res) => res.json());
console.log(documentsIndexes);
---

<Layout title="Mindmaps | Klay">
  <DashBoardLayout contentClass="pt-8"
    ><span
      class={sc(
        "block text-slate-200 font-semibold text-xl px-4 w-full mt-6 text-center",
        documentsIndexes.length > 0 && "hidden"
      )}>Aun no tienes ningun MindMap.</span
    >
    <div class={sc("bg-slate-800/50 p-6 rounded-lg border border-slate-700/50", documentsIndexes.length === 0 && "hidden")}>
      <ul class="w-full flex flex-wrap table text-slate-200">
        {
          [
            <li class=" font-bold text-lg table-row ">
              <span class="p-4 w-full font-[500] overflow-hidden text-ellipsis table-cell">
                Nombre
              </span>
              <span class="p-4 whitespace-nowrap table-cell">Acciones</span>
            </li>,
            ...documentsIndexes.map((document) => (
              <li class="hover:bg-slate-700/50 transition-all table-row border rounded-lg">
                <DocumentIndex id={document.id} />
              </li>
            )),
          ]
        }
      </ul>
    </div>
    <div class="flex gap-2 mt-6">
      <a
        href="/use-cases/generator"
        class="block text-slate-200 font-thin text-lg px-4 w-full mt-6 text-center bg-slate-700/50 hover:bg-slate-700 p-4 rounded-lg border border-slate-600"
        ><i class="bx bx-plus mr-2 align-middle text-xl"></i>Agregar MindMap</a
      >
      <a
        href="/playground/editor"
        class="block text-slate-200 font-thin text-lg px-4 w-full mt-6 text-center bg-slate-700/50 hover:bg-slate-700 p-4 rounded-lg border border-slate-600"
        ><i class="bx bx-rename mr-2 align-middle text-xl"></i>Abre el Editor</a>
    </div>
  </DashBoardLayout>
</Layout>
