---
import Layout from "@/layouts/Layout.astro";
import DashBoardLayout from "@/layouts/DashboardLayout.astro";
const { id } = Astro.params;
---

<Layout title="Textos | MindMapAI">
  <DashBoardLayout contentClass="pt-8">
   <div class="text-2xl font-semibold text-white"> <h1>{id}</h1></div>
  </DashBoardLayout>
</Layout>
