---
import Layout from "../layouts/Layout.astro";
import DashBoardLayout from "../layouts/DashboardLayout.astro";
import FileSelector from "../components/FileSelector.astro";
---

<Layout title="Editor | MindMapAI">
  <DashBoardLayout>
    <div class="bg-gray-800 p-6 rounded-lg border border-gray-700">
      <div>
        <span
          class="block text-gray-200 mb-2 font-bold text-lg px-4 pb-2 w-full"
          >Generar nuevo MindMap</span
        >
        <span
          class="block text-gray-200 mb-2 font-semibold text-sm px-4 pb-2 w-full border-b border-gray-700"
          >Selecciona un archivo PDF para extraer el texto</span
        >
        <FileSelector uploadEndpoint="/api/mindmap"/>
      </div>
    </div>
  </DashBoardLayout>
</Layout>
