---
import Layout from "../layouts/Layout.astro";
import MindmapTextEditor from "../components/MindmapTextEditor/index.astro";
import MarkmapView from "../components/MarkmapView/index.astro";
---

<Layout title="Editor | MindMapAI">
  <div class="w-full h-screen flex gap-1 p-4">
    <div
      class="flex-shrink-0 border border-gray-700 rounded-lg p-4 text-gray-200"
    >
      <a
        href="/dashboard/mindmaps"
        class="block text-gray-200 font-semibold text-sm px-2 w-full  text-center bg-gray-700/50 hover:bg-gray-700 p-2 rounded-lg border border-gray-600"
        ><i class="bx bx-reply mr-2 align-middle"></i>Regresar</a
      >
    </div>
    <div
      class="flex-1 h-full border border-gray-700 rounded-lg text-gray-200"
    >
      <MindmapTextEditor />
    </div>
    <div class="flex-1 h-full border border-gray-700 rounded-lg text-gray-200">
      <MarkmapView />
    </div>
  </div>
</Layout>

<script>
  import { currentMindmap, appendToCurrentMindmap } from "../stores/currentMindmap";
  import { fileStore } from "../stores/files";
  import type { IndexFile } from "../stores/files";

  document.addEventListener("astro:page-load", () => {
    const params = new URLSearchParams(window.location.search);
    const startStream = params.get("start-stream");
    console.log({ startStream });
    const generateMindmapStream = async () => {
      const fileIndex: IndexFile = fileStore.get();
      let body: any = JSON.stringify({ fileId: fileIndex.stagedIndexes[0] });
      let headers: any = { "Content-Type": "application/json" };
      const response = await fetch(
        `/api/mindmaps/stream/${crypto.randomUUID()}`,
        {
          method: "POST",
          headers,
          body,
        }
      );
      if (!response.body) {
        return;
      }
      const reader = response.body.getReader();
      const decoder = new TextDecoder();
      if (response.ok) {
        for(let run = true; run; ) {
          const { done, value } = await reader.read();
          run = !done;
          const data = decoder.decode(value, { stream: true });
          appendToCurrentMindmap(data);
          console.log(data);
        }
      }
    };
    if (startStream) {
      generateMindmapStream();
      params.delete("start-stream");
      window.history.replaceState(null, "", `?${params.toString()}`);
    }
  });
</script>
