<div>
  <form action="/api/file" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
  </form>

  <form id="deleteForm">
    <input type="text" name="name" />
    <button>Delete</button>
  </form>
</div>

<script>
  const deleteForm = document.querySelector("#deleteForm");
  if (deleteForm) {
    const deleteButton = deleteForm.querySelector("button");
    if (deleteButton) {
      deleteButton.addEventListener("click", (e) => {
        e.preventDefault();
        const name = deleteForm.querySelector("input");
        if (!name) {
          return;
        }
        console.log(name.value);
        fetch(`/api/file`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ name: name.value }),
        });
      });
    }
  }
</script>
