---
import Layout from "../layouts/Layout.astro";
import DashBoardLayout from "../layouts/DashboardLayout.astro";
import TimeAgo from "javascript-time-ago";
import es from "javascript-time-ago/locale/es";
TimeAgo.addDefaultLocale(es);
const timeAgo = new TimeAgo("es-ES");
const res = await fetch(new URL("/api/file", Astro.url));
const files = await res.json();
console.log(files);
---

<Layout>
  <DashBoardLayout>
    <div class="bg-gray-800 p-6 rounded-lg border border-gray-700">
      <span class="block text-gray-200 mb-2 font-bold text-lg px-4 pb-2 w-full"
        >Agregar archivo</span
      >
      <span
        class="block text-gray-200 mb-2 font-semibold text-sm px-4 pb-2 w-full border-b border-gray-700"
        >Agrega un nuevo archivo PDF a la biblioteca</span
      >
      <form class="flex gap-2 items-center text-gray-200">
        <input
          class="hidden"
          id="fileInput"
          type="file"
          name="file"
          accept=".pdf"
        />
        <label
          id="fileLabel"
          class="w-full p-4 hover:bg-gray-700/50 rounded-lg overflow-hidden text-ellipsis whitespace-nowrap"
          for="fileInput"
          ><i class="bx bx-file-detail mr-2 align-middle text-xl"
          ></i>Seleccionar Archivo PDF</label
        >
        <button
          class="bg-gray-700 hover:bg-gray-700/80 p-4 rounded-lg whitespace-nowrap"
          id="uploadButton"
          type="submit"
          ><i class="bx bx-folder-up-arrow mr-2 align-middle text-xl"></i>Subir
          Archivo</button
        >
      </form>
    </div>
    <div
      class="text-gray-200 p-6 bg-gray-800 border border-gray-700 rounded-lg"
    >
      <ul class="w-full flex flex-wrap table" id="files">
        {
          [
            <li class=" font-bold text-xl table-row ">
              <span class="p-4 w-full font-[500] overflow-hidden text-ellipsis table-cell">
                Nombre
              </span>
              <span class="p-4 whitespace-nowrap table-cell">
                Ultima modificacion
              </span>
              <span class="p-4 whitespace-nowrap table-cell">Tamaño</span>
              <span class="p-4 whitespace-nowrap table-cell">Acciones</span>
            </li>,
            ...files.map((file: any) => (
              <li class="hover:bg-gray-700/50 transition-all table-row border">
                <span class="p-4 w-full font-[500] overflow-hidden text-ellipsis table-cell">
                  {file.name}
                </span>
                <span class="p-4 whitespace-nowrap table-cell">
                  {timeAgo.format(file.lastModified)}
                </span>
                <span class="p-4 whitespace-nowrap table-cell">
                  {new Intl.NumberFormat("es-ES", {
                    style: "unit",
                    unit: "kilobyte",
                  }).format(Math.round(file.size / 1024))}
                </span>
                <div class="flex gap-2 text-lg table-cell pt-4 pl-4">
                  <button
                    class="h-fit rounded-lg bx bx-edit text-gray-500 p-2 hover:bg-gray-500/50 transition-all"
                    name="edit"
                    id={file.id}
                    title="Editar Nombre"
                  />
                  <button
                    id={file.id}
                    name="delete"
                    class="h-fit bx bx-trash text-red-500 p-2 rounded-lg hover:bg-red-500/50 transition-all"
                    title="Eliminar"
                  />
                </div>
              </li>
            )),
          ]
        }
      </ul>
    </div>
  </DashBoardLayout>
</Layout>

<script>
  const fileInput = document.getElementById(
    "fileInput"
  ) as HTMLInputElement | null;
  const uploadButton = document.getElementById("uploadButton");
  const fileLabel = document.getElementById("fileLabel");

  const uploadFile = async (e: Event) => {
    e.preventDefault();
    const formData = new FormData();
    if (!fileInput || !fileInput.files) {
      return;
    }
    if (fileInput.files.length === 0) {
      window.alert("No se selecciono ningun archivo");
      return;
    }
    Array.from(fileInput.files).forEach((file) => {
      formData.append("file", file);
    });
    const res = await fetch(`/api/file`, {
      method: "POST",
      body: formData,
    });
    if (res.ok) {
      window.location.reload();
    }
  };

  if (fileInput && uploadButton) {
    uploadButton.addEventListener("click", uploadFile);
    fileInput.addEventListener("change", () => {
      if (fileLabel && fileInput.files) {
        const fileLabelContent = Array.from(fileInput.files).map(
          (file) => file.name
        );
        fileLabel.textContent = fileLabelContent.join(", ");
      }
    });
  }
  const deleteFile = async (id: string) => {
    const res = await fetch(`/api/file`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ name: id }),
    });
    if (res.ok) {
      window.location.reload();
    }
  };

  document.addEventListener("click", (e) => {
    if ((e.target as HTMLButtonElement).name === "delete") {
      deleteFile((e.target as HTMLButtonElement).id);
    }
  });
  document.querySelectorAll("button[name='delete']").forEach((button) => {
    button.addEventListener("click", (e) => {
      const result = window.confirm(
        "Esta a punto de eliminar el archivo, esta seguro de continuar?"
      );
      if (result) {
        deleteFile((e.target as HTMLButtonElement).id);
      }
    });
  });
</script>
