---
import { sc } from "../utils/sc";
const { uploadEndpoint } = Astro.props;
---

<form class="flex gap-2 items-center text-gray-200">
  <input class="hidden" id="fileInput" type="file" name="file" accept=".pdf" />
  <label
    id="fileLabel"
    class="w-full p-4 hover:bg-gray-700/50 rounded-lg overflow-hidden text-ellipsis whitespace-nowrap cursor-pointer"
    for="fileInput"
    ><i class="bx bx-file-detail mr-2 align-middle text-xl"></i>Haz clic para
    seleccionar archivo</label
  >
  <button
    data-endpoint={uploadEndpoint}
    class={sc(
      "bg-gray-700/50 hover:bg-gray-700 p-4 rounded-lg whitespace-nowrap",
      !uploadEndpoint && "hidden"
    )}
    id="uploadButton"
    type="submit"
    ><i class="bx bx-folder-up-arrow mr-2 align-middle text-xl"></i>Subir
    archivo</button
  >
</form>

<script>
  const fileInput = document.getElementById(
    "fileInput"
  ) as HTMLInputElement | null;
  const uploadButton = document.getElementById("uploadButton");
  const fileLabel = document.getElementById("fileLabel");

  const uploadFile = async (e: Event) => {
    e.preventDefault();
    const formData = new FormData();
    if (!fileInput || !fileInput.files) {
      return;
    }
    if (fileInput.files.length === 0) {
      window.alert("No se selecciono ningun archivo");
      return;
    }
    const target = e.target as HTMLFormElement;
    const uploadEndpoint = target.dataset.endpoint;
    if (!uploadEndpoint) {
      window.alert("No se proporciono un endpoint");
      return;
    }
    Array.from(fileInput.files).forEach((file) => {
      formData.append("file", file);
    });
    const res = await fetch(`${uploadEndpoint}/${crypto.randomUUID()}`, {
      method: "POST",
      body: formData,
    });
    if (res.ok) {
      window.location.reload();
    }
  };

  const handleFileChange = (e: Event) => {
    e.preventDefault();
    if (fileLabel && fileInput?.files) {
      const fileLabelContent = Array.from(fileInput.files).map(
        (file) => file.name
      );
      fileLabel.textContent = fileLabelContent.join(", ");
    }
  };

  if (fileInput && uploadButton) {
    uploadButton.addEventListener("click", uploadFile);
    fileInput.addEventListener("change", handleFileChange);
  }
</script>
