---
import Layout from "@/layouts/Layout.astro";
import DashBoardLayout from "@/layouts/DashboardLayout.astro";
import LoadedFileSelector from "../components/LoadedFileSelector";
import FileList from "../components/FileList";

const execEnv = import.meta.env.EXEC_ENV || "server";
console.log("EXEC_ENV:", execEnv);
---

<Layout title="Archivos | Klay">
  <DashBoardLayout contentClass="pt-8">
    <FileList client:load execEnv={execEnv} />
    <div class="bg-slate-800/50 p-6 rounded-lg border border-slate-700/50">
      <span
        class="block text-gray-200 mb-2 font-semibold text-lg px-4 pb-2 w-full"
        >Agregar archivo</span
      >
      <span
        class="block text-gray-200 mb-2 font-thin text-sm px-4 pb-2 w-full border-b border-gray-700"
        >Agrega un nuevo archivo PDF a la biblioteca</span
      >
      <LoadedFileSelector client:load uploadEndpoint={"/api/file"} />
    </div>
  </DashBoardLayout>
</Layout>

<script>
  import { selectionMode } from "../stores/selectionMode";

  document.addEventListener("astro:page-load", () => {
    const modeContainer = document.querySelector(
      "#mode-select-container"
    ) as HTMLInputElement;
    if (modeContainer) {
      const mode = modeContainer.dataset.mode;
      selectionMode.set(mode === "select");
    }
  });
</script>
