---
import Layout from "../../layouts/Layout.astro";
import MindmapTextEditor from "../../components/MindmapTextEditor/index.astro";
import MarkmapView from "../../components/MarkmapView/index.astro";
---

<Layout title="Editor | MindMapAI">
  <div class="w-full h-screen flex gap-4 p-4">
    <div
      class="flex-shrink-0 border border-gray-700 rounded-lg p-4 text-gray-200"
    >
      <button id="update-btn">Actualizar</button>
    </div>
    <div class="flex-1 h-full border border-gray-700 rounded-lg text-gray-200 overflow-y-auto">
      <MindmapTextEditor />
    </div>
    <div class="flex-1 h-full border border-gray-700 rounded-lg text-gray-200">
      <MarkmapView />
    </div>
  </div>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const editor = document.getElementById(
      "markdown-editor"
    ) as HTMLTextAreaElement;
    const updateBtn = document.getElementById(
      "update-btn"
    ) as HTMLButtonElement;
    const markmapContainer = document.querySelector(
      ".markmap-container"
    ) as HTMLElement;
    console.log(updateBtn);
    updateBtn?.addEventListener("click", () => {
      //   const markdown = editor.value;
      // Disparar evento personalizado para actualizar el markmap
      const event = new CustomEvent("update-markdown", {
        detail: {
          markdown: "# exampleMarkdown",
        },
      });

      markmapContainer?.dispatchEvent(event);
    });
  });
</script>
