---
import { sc } from "../../utils/sc";
import Layout from "../../layouts/Layout.astro";
import DashBoardLayout from "../../layouts/DashboardLayout.astro";
import DocumentIndex from "../../components/DocumentIndex.astro";
const documentsIndexes: string[] = await fetch(
  new URL("/api/texts", Astro.url)
).then((res) => res.json());
---

<Layout title="Mindmaps | MindMapAI">
  <DashBoardLayout>
    <div class="bg-gray-800 p-6 rounded-lg border border-gray-700">
      <ul class="w-full flex flex-wrap table text-gray-200">
        {
          [
            <li class=" font-bold text-lg table-row ">
              <span class="p-4 w-full font-[500] overflow-hidden text-ellipsis table-cell">
                Nombre
              </span>
              <span class="p-4 whitespace-nowrap table-cell">Acciones</span>
            </li>,
            ...documentsIndexes.map((document) => (
              <li class="hover:bg-gray-700/50 transition-all table-row border rounded-lg">
                <DocumentIndex id={document} />
              </li>
            )),
          ]
        }
      </ul>
    </div>
    <a
      href="/generator"
      class="block text-gray-200 font-semibold text-lg px-4 w-full mt-6 text-center bg-gray-700/50 hover:bg-gray-700 p-4 rounded-lg border border-gray-600"
      ><i class="bx bx-plus mr-2 align-middle text-xl"></i>Agregar MindMap</a
    >
    <span
      class={sc(
        "block text-gray-200 font-semibold text-xl px-4 w-full mt-6 text-center",
        documentsIndexes.length > 0 && "hidden"
      )}>Aun no tienes ningun MindMap.</span
    >
  </DashBoardLayout>
</Layout>
