---
import Sidebar from "@/shared/components/layout/Sidebar.astro";
import { sc } from "@/shared/utils/sc";
const { contentClass } = Astro.props;
---

<div class="flex overflow-y-auto overflow-x-hidden">
  <Sidebar />
  <div class={sc("flex flex-col gap-6 w-3xl mx-auto h-screen", contentClass)}>
    <slot />
  </div>
</div>
